<div class="login d-flex justify-content-center align-items-center">
  <div class="col-md-9 col-xl-6 col-12">
    <div class="loginBox bg-transparent">
      <div class="row">
        <div class="loginImage col-sm-6 col-0">
          <video autoplay id="webcam">

          </video>
          <%- //include('../partials/_webcam') %>
        </div>
        <div class="loginForm col-sm-6 col-12">
          <div class="d-flex justify-content-center align-items-center">
            <%- include('../partials/_loginLoader') %>
            <%- include('../partials/_pencilLoader') %>

          </div>
          <div class="text-center">
            <h1 class="loginTitle">Hoşgeldiniz</h1>
          </div>

          <div class="my-3">
            <input type="text" class="form-control" placeholder="Emailinizi girin">
          </div>
          <div class="my-3 pwinput">
            <i class="eye fa-solid fa-eye"></i>

            <input name="password" type="password" class="form-control" placeholder="Parolanızı girin">
            <div class="forgotPassword"><a href="">Parolanızı mı unuttunuz ?</a></div>

          </div>
          <div class="my-2 text-center">
            <a href="/ogrenci/dersler" class="button button-primary w-100 d-block">Giriş</a>
          </div>

          <div class="text-center">VEYA</div>
          <div class="my-2">
            <button id="face-id-open" class="button button-success w-100">FACE ID</button>
            <button style="display: none;" id="face-id-close" class="button button-danger w-100">FACE ID KAPAT</button>
          </div>
        </div>
      </div>
    </div>

    <div style="display: none;" class="registerBox bg-transparent">
      <form action="<%= process.env.BASE_URL %>/api/register" method="POST">
        <div class="row">
          <div class="col-12 p-4">
            <div class="registerTitle text-center">Sosyal Sınıfa Katıl</div>
            <div class="d-flex gap-2 my-2">
              <div class="w-50">
                <input type="text" class="form-control" placeholder="Adınızı girin" name="ad">
              </div>
              <div class="w-50">
                <input type="text" class="form-control" placeholder="Soyadınızı girin" name="soyad">
              </div>
              <div class="w-50 d-flex align-items-center justify-content-center gap-3 border rounded bg-light">
                <div>
                  <label for="erkek">Erkek</label>
                  <input class="form-check-input" type="radio" name="cinsiyet" value="erkek" id="erkek">
                </div>
                <div>
                  <label for="kadin">Kadın</label>
                  <input class="form-check-input" type="radio" name="cinsiyet" value="kadin" id="kadin">
                </div>
              </div>
            </div>
            <div class="d-flex gap-2 my-2">
              <div class="w-50">
                <input type="email" class="form-control" placeholder="Emailinizi girin" name="email">
              </div>
              <div class="w-50 d-flex align-items-center justify-content-center gap-3 border rounded bg-light">
                <div>
                  <label for="ogretmen">Öğretmen</label>
                  <input class="form-check-input" type="radio" name="role" value="ogretmen" id="ogretmen">
                </div>
                <div>
                  <label for="ogrenci">Öğrenci</label>
                  <input class="form-check-input" type="radio" name="role" value="ogrenci" id="ogrenci">
                </div>
              </div>
              
            </div>
            <div class="my-2">
              <textarea class="form-control" name="adres" id="" rows="3" placeholder="Adresinizi girin"></textarea>
            </div>
            <div class="d-flex gap-2 my-2">
              <div class="w-50 pwinput">
                <i class="eye fa-solid fa-eye"></i>
                <input name="parola" type="password" class="form-control parola" placeholder="Parolanızı girin">
              </div>
              <div class="w-50 pwinput">
                <i class="eye fa-solid fa-eye"></i>
                <input name="parola2" type="password" class="form-control parola" placeholder="Parolanızı tekrar girin">
              </div>
            </div>
            <div class="my-2 text-center">
              <button class="button button-primary w-50" id="registerBtn">Kayıt Ol</button>
            </div>

          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<script src="js/webcam.js"></script>
<script>
  $(document).ready(function() {
    $(".eye").click(function() {
      if ($(this).hasClass("fa-eye")) {
        $(this).removeClass("fa-eye");
        $(this).addClass("fa-eye-slash");
        $(this).siblings("input.parola").attr("type", "text");
      } else {
        $(this).removeClass("fa-eye-slash");
        $(this).addClass("fa-eye");
        $(this).siblings("input.parola").attr("type", "password");
      }
    });

    $(".loginNavBtn").click(function(e) {
      e.preventDefault();
      $(".loginBox").slideDown();
      $(".registerBox").slideUp();


    });

    $(".registerNavBtn").click(function(e) {
      e.preventDefault();
      $(".registerBox").slideDown();
      $(".loginBox").slideUp();
    });

    $("#registerBtn").click(function(){
      
    })

  })
</script>