<div>
  <div class="row sorularWrapper">
    <div class="col-lg-9 col-12 order-lg-1 order-2 sorularLeft">
      <div class="d-flex justify-content-between align-items-start py-2 flex-wrap">
        <div class="input-group w-50">
          <input id="searchText" type="text" class="form-control" placeholder="Soru ara">
          <div class="input-group-text bg-mavi border-0">
            <button id="searchBtn" class="border-0 p-0 bg-mavi text-light">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
        <div>
          <button class="button button-success" data-bs-toggle="modal" data-bs-target="#soruEkleModal">Soru Sor</button>
        </div>

        <!-- burada filtre ve sıralama butonları olacak -->
        <!--  -->
      </div>
      <div class="sorular">
        <% sorular.forEach(soru => { %>
        <%- include('../partials/_soru',{soru}) %>
        <% }) %>

      </div>
    </div>
    <div class="col-lg-3 col-12 order-lg-2 order-1 sorularRight">
      <!-- position sticky-top olacak -->
      <div class="popularQuestions">
        <div class="text-kapalimavi">
          <h2>Popüler Sorular</h2>
        </div>
        <div class="popularList">
          <% popular.forEach(soru => { %>
          <%- include('../partials/_soru',{soru}) %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include('../partials/_soruEkleModal') %>


<script>
  $(function() {
    var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'], // toggled buttons
      ['blockquote', 'code-block'],

      [{
        'header': 1
      }, {
        'header': 2
      }], // custom button values
      [{
        'list': 'ordered'
      }, {
        'list': 'bullet'
      }],
      [{
        'script': 'sub'
      }, {
        'script': 'super'
      }], // superscript/subscript
      [{
        'indent': '-1'
      }, {
        'indent': '+1'
      }], // outdent/indent
      [{
        'direction': 'rtl'
      }], // text direction

      [{
        'size': ['small', false, 'large', 'huge']
      }], // custom dropdown
      [{
        'header': [1, 2, 3, 4, 5, 6, false]
      }],
      ['link', 'image', 'video', 'formula'], // add's image support
      [{
        'color': []
      }, {
        'background': []
      }], // dropdown with defaults from theme
      [{
        'font': []
      }],
      [{
        'align': []
      }],

      ['clean'] // remove formatting button
    ];

    var quill = new Quill('#soruEditor', {
      modules: {
        toolbar: toolbarOptions
      },
      placeholder: "Sorunuzu oluşturun...",
      theme: 'snow'
    });

    const token = Cookies.get('token');
    const config = {
      headers: {
        Authorization: `Bearer ${token}`
      }
    };

    $("#searchBtn").click(async function(e) {
      console.log("deneme123");
      e.preventDefault();
      const searchText = $("#searchText").val();
      window.location.href = "/sorular/" + searchText;
    });

  })
</script>