<!-- dropdownu kullanmak için butonun classını paramtere olarak bu ejs dosyasına vermeliyiz -->
<!-- bu classa parametre olarak linkleri verebiliriz -->
<% if (userSession.role=="ogretmen") { %>
<div class="dropdown">
  <button class="courseOption" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li value=""><a class="dropdown-item sinifiSilBtn" value="<%= sinif._id %>">Sınıfı Sil</a></li> 
  </ul>
</div>
<% } %>
