<!-- dropdownu kullanmak için butonun classını paramtere olarak bu ejs dosyasına vermeliyiz -->
<!-- bu classa parametre olarak linkleri verebiliriz -->

<div class="dropdown">
  <button class="courseOption" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>