<div class="modal fade" id="duyuruEkleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="duyuruEkleModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content eklemeModal">
      <div class="modal-header pb-0">
        <h3 class="modal-title" id="duyuruEkleModal">Duyuru Ekle</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body py-0">
          <div class="modalInput">
            <input type="text" class="form-control" placeholder="Duyuru başlığını yazın...">
          </div>
          <div class="modalInput">
            <textarea name="" id="" rows="6" class="form-control" placeholder="Duyurunuzu yazın..."></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="button button-danger" data-bs-dismiss="modal">İptal</button>
          <button type="button" class="button button-success">Onayla</button>
        </div>
      </form>
    </div>
  </div>
</div>