<div class="columnRow duyuruRow">
  <div class="d-flex justify-content-between align-items-start flex-wrap word-break">
    <h4><%= duyuru.title %></h4>
    <div class="tarih badge bg-primary"><%= duyuru.createdAt %></div>
  </div>

  <div>
    <%= duyuru.content %>
  </div>

</div>