<script>
    $(window).scroll(function() {
      var navbar = $('.navigation');
      if ($(this).scrollTop() > 3) {
        navbar.addClass('bg-white');
      } else {
        navbar.removeClass('bg-white');
      }
    });
</script>
</body>

</html>