<nav class="login-navigation">

    <div class="nav-img">
        <a href="/">
            <img src="<%= baseURL %>/image/logo.png" alt="">
        </a>
    </div>

    <div class="nav-login">
        <a href="" class="button button button-danger px-3 py-2 registerNavBtn">Kayıt Ol</a>
        <a class="button button-primary px-3 py-2 loginNavBtn" href="<%= baseURL %>/login">Giriş Yap</a>
    </div>
        
</nav>