<div class="modal fade" id="odevEkleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="odevEkleModal" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content eklemeModal odevEkleModal">
      <div class="modal-header py-1 px-3">
        <h3 class="modal-title" id="odevEkleModal">Ödev Ekle</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body py-0 odevEkleBody">
          <div class="modalInput">
            <input type="text" class="form-control" placeholder="Ödev başlığını yazın...">
          </div>
          <div class="modalInput">
            <textarea name="" id="" rows="6" class="form-control" placeholder="Duyurunuzu yazın..."></textarea>
          </div>
          <div class="modalInput">
            <input type="text" class="form-control" placeholder="Ödev başlığını yazın...">
          </div>
          <div class="modalInput">
            <textarea name="" id="" rows="6" class="form-control" placeholder="Duyurunuzu yazın..."></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="reset" class="button button-danger" data-bs-dismiss="modal">İptal</button>
          <button type="button" class="button button-success">Onayla</button>
        </div>
      </form>
    </div>
  </div>
</div>