<div class="modal fade" id="odevCozModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="odevCozModal" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content eklemeModal odevCozModal">
      <div class="modal-header py-1 px-3">
        <h3 class="modal-title" id="odevBaslik"></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div id="currentOdevId"></div>
      </div>

      <div class="modal-body py-0 odevCozBody">
        <div class="odevSorular">
          
        </div>

      </div>
      <div class="modal-footer">
        <button type="reset" class="button button-danger" data-bs-dismiss="modal">İptal</button>
        <button type="button" class="button button-success" id="odeviOnaylaBtn">Ödevi Tamamla</button>
      </div>

    </div>
  </div>
</div>