<div class="modal fade" id="odevDetayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="odevDetayModal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content eklemeModal odevCozModal">
        <div class="modal-header py-1 px-3">
          <h3 class="modal-title" id="odevBaslik">Ödev Detayları</h3>
          <div id="currentOdevId" class="d-none"></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
        <form id="odevForm">
          <div class="modal-body py-0 odevEkleBody">
            <div id="odevDetaylar">
              <div class="row">
                <div class="col-lg-4 col-12">
                  <div class="odevSorular"></div>
                </div>

                <div class="col-lg-8 col-12">
                  <div class="odevDetaylarBilgi">
                    <div class="row align-items-start justify-content-between">
                      <div class="col-lg-1"></div>
                      <div class="col-lg-4 grafik text-center text-light">
                        <canvas class="chart" id="basariOrani"></canvas>
                      </div>
                      <div class="col-lg-1"></div>
                      <div class="col-lg-6 col-12 detaylar">
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="reset" class="button button-danger" data-bs-dismiss="modal">Kapat</button>
          </div>
        </form>
      </div>
    </div>
  </div>