<div class="modal fade" id="ogrenciDetayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ogrenciDetayModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content eklemeModal">
      <div class="modal-header pb-0">
        <h3 class="modal-title" id="ogrenciDetayModal">Öğrenci Bilgileri</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <hr>
      <div class="modal-body py-0">
        <div class="row">
          <div class="col-12">
            <div class="ogrenciBilgiler">
              <div class="profileImage">
                <img src="" alt="">
              </div>
              <div>
                <span class="fw-bold">Ad Soyad:</span>
                <span id="ad"></span> <span id="soyad"></span>
              </div>
              <div>
                <span class="fw-bold">Öğrenci Numarası:</span>
                <span id="no"></span>
              </div>
              <div>
                <span class="fw-bold">Email:</span>
                <span id="email"></span>
              </div>
              <div>
                <span class="fw-bold">Cinsiyet:</span>
                <span id="cinsiyet">Erkek</span>
              </div>
              <div>
                <span class="fw-bold">Adres:</span>
                <span id="adres"></span>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-8 col-12">
            <div class="row">
              <div class="col-md-6 col-12">
                <canvas class="chart" id="odev"></canvas>
              </div>
            </div>
          </div> -->
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="reset" class="button button-danger ogrenciKaldirBtn" id="id" value="">Öğrenciyi Sınıftan Kaldır</button>
        <button type="reset" class="button button-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/_chart.js"></script>