<div class="modal fade" id="ogrenciEkleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ogrenciEkleModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content eklemeModal">
      <div class="modal-header pb-0">
        <h3 class="modal-title" id="ogrenciEkleModal">Öğrenci Ekle</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body py-0">
          <div class="modalInput">
            <input type="number" class="form-control" placeholder="Öğrenci numarasını yazın...">
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="button button-danger" data-bs-dismiss="modal">İptal</button>
          <button type="submit" class="button button-success">Onayla</button>
        </div>
      </form>
    </div>
  </div>
</div>