<div class="courseInfo" style="background-image: linear-gradient(to bottom, rgba(37, 55, 90, 0.5), rgba(37, 55, 90, 0.5)),url('<%= baseURL %>/image/math.jpeg');">
  <%- include('./_dropdown') %>
  <h1>Matematik</h1>
  <p>Matematik Uygulamaları</p>
  <p class="courseTeacher">Ahmet Tatyüz</p>
</div>