<div class="soru">
  <div class="row align-items-center">
    <div class="col-1">
        <div class="soruBadge text-mavi">
            <i class="fa-solid fa-thumbs-up"></i>
            <span>16</span>
        </div>
        <div class="soruBadge text-kirmizi">
            <i class="fa-solid fa-thumbs-down"></i>
            <span>8</span>
        </div>
        <div class="soruBadge text-yesil">
            <i class="fa-solid fa-comment-dots"></i>
            <span>5</span>
        </div>
        <div class="soruBadge text-sari">
            <i class="fa-regular fa-eye"></i>
            <span>45</span>
        </div>
    </div>
    <div class="col-11">
      <div class="soruBaslik">
        <a href="/sorular/5">
          <h3>Soru başlığı</h3>
        </a>

      </div>
      <div class="soruIcerik">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero harum accusantium autem corporis sapiente nihil consequatur mollitia voluptatibus qui quo?</p>
      </div>
    </div>
  </div>

</div>